[submodule "QHYCCD_Linux"]
	path = QHYCCD_Linux
	url = https://github.com/qhyccd-lzr/QHYCCD_Linux.git
[submodule "GuLinux-Commons"]
	path = GuLinux-Commons
	url = https://github.com/GuLinux/GuLinux-Commons.git
